body {
  padding-top: 56px; /* Adjusted for the fixed navbar */
}

.welcome-section, .about-section {
  background-color: #f8f9fa;
  padding: 60px 0;
}

.welcome-section h1, .about-section h2 {
  color: #007bff;
}

/* Style for the header right side */

 ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  padding: 10px;
 
}
 ul li a:hover{
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 24px;
  padding: 10px;

}
@media screen and (max-width: 768px) {
  header {
      flex-direction: column;
      align-items: center;
      padding: 5px;
  }
  ul li {
      display: block;
      margin: auto;
      padding: 10px;
  }
}
.logo{
  height: 60px;
  width: 60px;
}
.QR{
  height: 80px;
  width: 80px;
}
.link{
  text-decoration: none;
  border: 3px solid rgb(233, 174, 10);
  color: #f8f9fa;
  border-radius: 24px;
  background-image:linear-gradient(rgba(13, 148, 153, 0.589),#0f2469fd)     ;   
  padding: 10px;
  font-weight: bold;

  }
  .link:hover{
    
  border: 3px solid rgb(253, 253, 253);
  border-radius: 24px;
  background-image:linear-gradient(rgba(13, 148, 153, 0.589),#0f2469fd)     ;   
  color: rgb(0, 0, 0);
  font-weight: bold;
  color: #f8f9fa;
  padding: 10px;
  
  }

  .bgphoto{
    background-image:url("/model/event_photo/orient.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
  }
  .bgcolorpic{
    background-image:linear-gradient(rgba(5, 20, 107, 0.329),#145ee78e),url("/model/event_photo/orient.jpg");
  background-size: cover;
  background-position: center;
 
    height: 70vh;
  }
  .bgcolor{
    background-image:linear-gradient(rgb(12, 98, 226),#4eced3);
 padding: 10px 10px;
  }
  .welcome{
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 0;
  }
  .welcomept{
    width: 350px;
  
  }
   .btnn{
  border:1px solid black;
  border-radius: 24px;
  padding:auto;
  width: 50%;
  display: block;
  margin: auto;
  font-weight:bold;
  }
  
  .paragh{
  padding: 50px;
  text-align: center;
  }
  .clubhead{
  text-align: center;
  background-color: #000000;
  height: 50px;
  }
  .fa-download{
  font-size: 20px;
  padding: 10px;
  color: #0658d3;
  }
  
  .face{
  text-decoration: none;
  border-radius: 24px;
  background-color: blue;
  padding: 10px;
  font-weight: bold;
  color: #ddd;
  transition: transform 0.3s;
  margin-right: 5px;

  }
 
  .face:hover{
    text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  transform: scale(1.05);
  }
  .tube{
  text-decoration: none;
  border-radius: 24px;
  background-color: rgb(255, 0, 0);
  color: #ffffff;
  padding: 10px;
  font-weight: bold;
  transition: transform 0.3s;
  margin-left: 5px;
  }
  .tube:hover{
    text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  transform: scale(1.05);
  }
  .clubtxt{
  font-size: 36px;
  color:white;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .container {
  
    margin: 20px auto;
    padding: 0 20px;
  }
  .header, .footer {
    background-color: #0e6ba1;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
  
  }
  .heading{
    background-color: #f4f4f4;
    color: #0e6ba1;
    border: #f4f4f4;
    border-radius: 24px;
    width: 40%;
    display: block;
    margin: auto;
  }
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .event-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 350px;
    width: 100%;
  }
  .event-card h2 {
    font-size: 1.5em;
    margin-top: 0;
  }
  .event-card p {
    font-size: 1em;
    color: #504d4d;
  }
  .event-card .button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
  }
  .event-card .button:hover {
    background-color: #0056b3;
  }
  .carousel-img {
    width: 80%; /* Adjust the width as needed */
    height: auto;
    margin: auto; /* Centers the images horizontally */
    position: relative; /* Required for absolute positioning of the gradient */
  }
  
.h1border{
  width: 60%;
  display: block;
  margin: auto;
  background-color: rgba(81, 212, 235, 0.719);
  border-radius: 24px;


}
.pborder{
  width: 40%;
  display: block;
  margin: auto;
  background-color: rgba(206, 221, 230, 0.719);
  border-radius: 24px;
}

.img-fluid{
  height: 300px;
  width: 400px;
}
.img00{
  height: 200px;
  width: 300px;
}
.images{
  height: 400px;
  width: 550px;
}