body {
  padding-top: 56px; /* Adjusted for the fixed navbar */
}

.welcome-section, .about-section {
  background-color: #f8f9fa;
  padding: 60px 0;
}

.welcome-section h1, .about-section h2 {
  color: #007bff;
}
.iconImage{
  height: 80px;
  width: 80px;
}
.link{
  text-decoration: none;
  border: 3px solid rgb(233, 174, 10);
  color: #f8f9fa;
  border-radius: 24px;
  background-image:linear-gradient(rgba(13, 148, 153, 0.589),#0f2469fd)     ;   
  padding: 10px;
  font-weight: bold;
  }
  .link:hover{
  border: 3px solid rgb(253, 253, 253);
  border-radius: 24px;
  background-image:linear-gradient(rgba(13, 148, 153, 0.589),#0f2469fd)     ;   
  color: rgb(0, 0, 0);
  font-weight: bold;
  color: #f8f9fa;
  padding: 10px;
  
  }
  ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bolder;
   
  }
 ul li a:hover{
    transition: all;
    color: white;
    border-bottom:2px solid rgb(243, 134, 10);
    padding: 10px;
  }
  .bgphoto{
    background-image:url("/model/slidebg.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .bgcolor{
    background-image:linear-gradient(rgba(226, 220, 220, 0.589),#4eced3d0);

  }
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}